#sandbox {
    width: 20px;
    font-size: 16px;
}

.amcharts-graph-bullet.bold-bullet {
    stroke-width: 0;
    r: 4;
}

li .params {
    display : none;
}

li .params div {
    padding : 2px 5px;
}

li .params .name {
    font-weight : bold;
}

li .params div input {
    width         : 100%;
    border        : 1px solid #ccc;
    border-radius : 4px;
    padding       : 2px 5px;
}

li.active .params {
    display : block;
}

fixture-list {
    display          : block;
    position         : fixed;
    z-index          : 10000;
    top              : 0;
    bottom           : 0;
    left             : 0;
    right            : 0;
    padding          : 40px;
    overflow-y       : auto;
    background-color : rgba(0,0,0,.5);
}

fixture-list ul {
    display       : block !important;
    position      : relative !important;
    background    : #fff;
    border-radius : 5px;
    border        : 1px solid #ccc;
    width         : 100%;
    height        : 100%;
    list-style    : none;
}

fixture-list ul li {
    line-height : 30px;
}