*, *:before, *:after {
  box-sizing: border-box;
}

.module {
}

.module-title {
    line-height      : 20px;
    background-color : #ddd;
    border           : 1px solid #ccc;
    cursor           : pointer;
    padding-left     : 5px;
}

.module-title + .module-title {
    margin-top : -1px;
}

.module-content {
    border-bottom : 1px solid #ccc;
}
.module.off .module-content {
    display: none;
}

.flag-icon {
    margin   : 5px;
    position : absolute;
}

dl {
    margin   : 2px 0;
}

dl dt {
    border           : 1px solid #999;
    background-color : #eee;
    color            : #333;
    font-weight      : bold;
    margin           : 0;
    line-height      : 20px;
    padding-left     : 5px;
}

dl dd {
    position         : relative;
    margin           : 0;
    margin-top       : -1px;
    width            : 100%;
    background-color : #e00;
}

dl dd input {
    padding-left : 25px;
    width        : 100%;
    line-height  : 20px;
}

button.upload {
    outline          : 0 !important;
    background-color : #999;
    color            : #fff;
    border-radius    : 4px;
    font-weight      : bold;
    border-width     : 1px;
    border-style     : solid;
    border-color     : #777;
    margin           : 5px 0;
    padding          : 5px;
    cursor           : pointer;
}

button.upload:hover {
    background-color : #f09000;
}